<!-- footer -->
<footer class="footer py-md-5 pt-4 pb-5">
	<div class="container pt-4">
		<div class="row">
			<div class="col-lg-3 col-sm-6 footer-top">
				<h4 class="mb-sm-4 mb-3 w3f_title">Contact Info</h4>
				<ul class="list-w3">
					<li><span class="fa mr-1 fa-map-marker"></span> Artificial intelligence department, independent layout Nairobi </li>
					<li class="my-2"><span class="fa mr-1 fa-phone"></span>+254-725-7976-22</li>
					<li class="my-2"><span class="fa mr-1 fa-phone"></span>+254-707-0668-67</li>
					<li class=""><span class="fa mr-1 fa-envelope"></span><a href="mailto:info@greywolfx.org">info@greywolfx.org</a></li>
				</ul>
			</div>
			<div class="col-lg-3 col-sm-6 footv3-left mt-sm-0 mt-4">
				<h4 class="mb-sm-4 mb-3 w3f_title"> Our Platforms</h4>
				<ul class="list-w3">
					<li class="my-2">
						<a href="about.html">
							Digital Trade Marketing
						</a>
					</li>
					<li class="mb-2">
						<a href="features.html">
							Software Development
						</a>
					</li>
					<li class="my-2">
						<a href="projects.html">
							Cloud Marketing
						</a>
					</li>
					<li class="my-2">
						<a href="blogs.html">
							Business Intelligence
						</a>
					</li>
					<li>
						<a href="contact.html">
							Modern Technology
						</a>
					</li>
				</ul>
			</div>
			<div class="col-lg-2 col-sm-4 mt-lg-0 mt-sm-5 mt-4">
				<h4 class="mb-sm-4 mb-3 w3f_title">Media Center</h4>
				<ul class="list-w3">
					<li class="my-2">
						<a href="#">
							Press Release
						</a>
					</li>
					<li class="mb-2">
						<a href="features.html">
							Vision & Values
						</a>
					</li>
					<li class="my-2">
						<a href="security.html">
							Winning Awards
						</a>
					</li>
					<li class="my-2">
						<a href="pricing.html">
							Networking
						</a>
					</li>
				</ul>
			</div>

			<div class="col-lg-2 col-sm-4 mt-lg-0 mt-sm-5 mt-4">
				<h4 class="mb-sm-4 mb-3 w3f_title">Resources</h4>
				<ul class="list-w3">
					<li class="my-2">
						<a href="#">
							24/7 Help Line
						</a>
					</li>
					<li class="mb-2">
						<a href="#">
							Nearest Branch
						</a>
					</li>
					<li class="my-2">
						<a href="#">
							Guidance
						</a>
					</li>
					<li class="my-2">
						<a href="#">
							Download
						</a>
					</li>
					<li>
						<a href="#" disabled>
							Mobile App
						</a>
					</li>
				</ul>
			</div>
			
			<div class="col-lg-2 col-sm-4 mt-lg-0 mt-sm-5 mt-4">
				<h4 class="mb-4 w3f_title">Other Links</h4>
				<ul class="list-w3">
					<li class="my-2">
						<a href="{% url 'staticpages:services' %}">
							Our Services
						</a>
					</li>
					<li class="mb-2">
						<a href="{% url 'staticpages:about' %}">
							About Us
						</a>
					</li>
					<li class="my-2">
						<a href="{% url 'staticpages:blog_list' %}">
							Company Blog
						</a>
					</li>
					<li class="my-2">
						<a href="{% url 'staticpages:contact' %}">
							Contact Us
						</a>
					</li>
				</ul>
			</div>
			
		</div>
	</div>
	<!-- //footer bottom -->
</footer>
<!-- //footer -->

<!-- copyright -->
<section class="copy-right py-4">
	<div class="container">
		<div class="row">
			<div class="col-lg-7">

				<p>&copy; <span id="year"></span> Greywolfx inc. All rights reserved</p>
				<script>
					document.getElementById("year").textContent = new Date().getFullYear();
				</script>
			</div>
			<div class="col-lg-5">
				<ul class="list-w3 d-sm-flex">
					<li>
						<a href="{% url 'staticpages:privacy_policy' %}">
							Privacy Policy
						</a>
					</li>
					<li class="mx-4">
						<a href="{% url 'staticpages:term_conditions' %}">
							Terms & Conditions
						</a>
					</li>
					<li>
						<a href="#">
							Disclaimer.
						</a>
					</li>
					<li>
						<a href="#">	
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
<!-- //copyright -->